/* NAVBAR */
.custom-navbar {
  background-color: #f9ae3b;
}

.nav-adopt-button {
  background-color: #a155c1;
}

.nav-adopt-button:hover {
  background-color: #6e3885;
}

/* NAVLINKS */

.cat-nav {
  font-weight: bold;
  text-decoration: none;
  margin: auto;
  color: rgb(0, 0, 0);
}

.cat-links a {
  margin: auto;
  color: rgba(0, 0, 0, 0.785);
  text-decoration: none;
  margin-right: 20px;
}

/* HEADER */

/* FOOTER  */

.page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer a {
  color: white;
  font-size: 30px;
  text-decoration: none;
}

footer p {
  font-size: 20px;
  margin: auto;
}

/* NOTFOUND */
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error h1 {
  font-size: 80px;
}

.error p {
  font-size: 20px;
}
