/* NAVBAR */
.custom-navbar {
  background-color: #f9ae3b;
}

.nav-adopt-button {
  background-color: #a155c1;
}

.nav-adopt-button:hover {
  background-color: #6e3885;
}

/* NAVLINKS */

.cat-nav {
  font-weight: bold;
  text-decoration: none;
  margin: auto;
  color: rgb(0, 0, 0);
}

.cat-links a {
  margin: auto;
  color: rgba(0, 0, 0, 0.785);
  text-decoration: none;
  margin-right: 20px;
}

/* HEADER */

.header-img {
  height: 60vh;
  object-fit: cover;
}

.header-2 {
  text-align: center;
  margin: 20px;
}

/* GLIDE */

.glide__slide{
  display: flex;
  justify-content: center;
  margin: 20px 20px ;
}
.glide__arrow--left,
.glide__arrow--right {
  background-color: black; 
}

/*CARDS*/

.card{
width: 400px;
height: 300px;
}

/*ABOUT US*/

.about-us-image{
  width: 1000px;
  height: 300px;
  object-fit: cover;
  margin:30px auto;
  display: block;
  border-radius: 20px;
  transition: transform 0.3s ease;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.about-us-image:hover {
  transform: scale(1.1); 
}

.aboutUs-container{
margin: 30px;
}

.section-title,
.mission, 
.commitment, 
.what-we-do, 
.our-history, 
.final-message,
.karen{
  text-align: center;
  margin: 20px;
  margin-left: 150px;
  margin-right: 150px;
  display: block;
}

/* FORMULARIO DE ADOPCION */
.container-style {
  background-color: #F9AE3B;
  padding: 20px;
  border-radius: 8px;
  margin: auto; 
  margin-bottom: 48px;
  width: 600px; 
}

/* FOOTER  */

.page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

footer p {
  font-size: 15px;
  margin: auto;
}

/* NOTFOUND */
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error h1 {
  font-size: 80px;
}

.error p {
  font-size: 20px;
}

/* Iniciar Sesion */
.login-card{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.container-btn{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap:10px;
}



/* SignUp */

.signup-container {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 82vh;
  background-color: white;
}

.login-card {
  width: 400px;
  padding: 50px;
  background-color: #f9ae3b;
  height: auto;
}

.login-header {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #000;
}

.login-form-label {
  font-weight: bold;
  color: #000;
}

.login-input {
  margin-bottom: 15px;
}

.login-input input {
  background-color: white
}

.signup-card {
  width: 400px;
  padding: 50px;
  background-color: #f9ae3b; 
  height: auto;
}

.signup-header {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  margin-bottom: 100px; 
  margin-top: 0; 
  color: #000;
}

.signup-form-label {
  font-weight: bold;
  color: #000; 
}

.signup-input {
  margin-bottom: 15px;
}

.signup-input input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}


.signup-submit-btn {
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: auto;
  margin-top: 10px;
  display: block;
}

.sesion-submit-btn {
  background-color: green;
  cursor: pointer;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: auto;
  margin-top: 10px;
  display: block;
}

.login-submit-btn:hover {
  background-color: #6e3885;
}


.signup-submit-btn:hover {
  background-color: #6e3885; 
}

