@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

a {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  text-decoration: none;
}

/* NAVBAR */
.custom-navbar {
  background-color: #f9ae3b;
  background-image: url("../imgs/navBar-bg.png");
}

.nav-adopt-button {
  background-color: #a155c1;
  color: white;
}

.nav-adopt-button:hover {
  background-color: #6e3885;
  color: white;
}

.logo-karen {
  width: 15rem;
}

.active-nav {
  border: solid 2px rgb(114, 21, 201) !important;
}

/* NAVLINKS */

.cat-nav {
  font-weight: bold;
  text-decoration: none;
  margin: auto;
  color: rgb(0, 0, 0);
}
.nav-link.active {
  font-weight: bolder;
}

.cat-links a {
  margin: auto;
  color: rgba(0, 0, 0, 0.785);
  text-decoration: none;
  margin-right: 20px;
}

/* HEADER */
.header-img {
  height: 40vh;
  object-fit: cover;
}

.header-2 {
  text-align: center;
  margin: 20px;
}

.adoption-text {
  text-align: center;
  margin: 20px;
  margin-left: 150px;
  margin-right: 150px;
  display: block;
  margin-bottom: 6%;
}

.carousel-hero {
  display: flex;
}

.caption-hero {
  width: 50%;
  color: #000;
  text-align: left;
  padding: 1rem !important;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}

/* GLIDE */

.glide__slide {
  margin: 0.3rem;
}

.glide__arrow--left,
.glide__arrow--right {
  background-color: black;
}

/*CARDS*/

.card {
  width: 100%;
  height: auto;
}

.catcard-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cat-slider-container {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
}

.button-card {
  background-color: #a155c1;
  margin-right: 3%;
}

.button-card:hover {
  background-color: #6e3885;
}

.btn-galeria-completa {
  background-color: #000;
  text-decoration: none;
}

.button-card-detail {
  background-color: #a155c1;
  text-decoration: none;
}

.btn-galeria-completa:hover,
.button-card-detail:hover {
  background-color: #6e3885;
}

/* DETAIL CARD */
.detail-card-dani {
  width: 100% !important;
  display: flex !important;
  flex-direction: row !important;
  margin: auto;
}

.cat-detail-img {
  width: 50%;
  height: 50%;
}

.container-detail-card-dani {
  width: 100%;
  margin: auto;
  padding: 2%;
}

/* GALLERY  */

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  justify-items: center;
  align-content: center;
  margin: 3%;
}

.icon {
  position: absolute;
  right: 0;
}

/* FAVORITES */

.grid-container-favorites {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  align-items: center;
}

/*ABOUT US*/

.about-us-image {
  width: 1000px;
  height: 300px;
  object-fit: cover;
  margin: 30px auto;
  display: block;
  border-radius: 20px;
  /*
  transition: transform 0.3s ease;
  */
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
/*
.about-us-image:hover {
  transform: scale(1.1);
}
*/

.aboutUs-container {
  margin: 30px;
}

.section-title,
.mission,
.commitment,
.what-we-do,
.our-history,
.final-message,
.karen {
  text-align: center;
  margin: 20px;
  margin-left: 150px;
  margin-right: 150px;
  display: block;
}

.button-card-gallery {
  margin-right: 0.5rem;
}

/* FORMULARIO DE ADOPCION */
.container-style {
  background-color: #f9ae3b;
  padding: 2.5rem;
  border-radius: 8px;
  margin: auto;
  margin-bottom: 10%;
  width: 40%;
}

.input-adoption-form {
  margin-bottom: 1rem !important;
}

.form-label {
  margin-bottom: 0;
}

.container-style h1 {
  text-align: center;
  margin-bottom: 8%;
}

/* FOOTER  */

.page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

footer p {
  font-size: 15px;
  margin: auto;
}

.footer-container {
  display: flex;
  flex-direction: column;
  background-color: #000;
  background-image: url("../imgs/footer-bg.png");
  color: #ffffff;
  text-align: center;
}

.footer-form {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.form-map {
  display: flex;
  justify-content: space-around;
  padding-top: 5%;
}

.social-footer {
  display: flex;
  justify-content: center;
  width: 30%;
  margin: auto;
}

.social-footer a {
  font-size: 1.5rem;
  color: #ffffff;
  text-align: center;
}

.rrss-legal {
  width: 50%;
  margin: auto;
}

.btn-footer {
  background-color: #a155c1;
}

.btn-footer:hover {
  background-color: #6e3885;
}

/* NOTFOUND */
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error h1 {
  font-size: 80px;
}

.error p {
  font-size: 20px;
}

/* Iniciar Sesion */
.login-card {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.container-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

/* SignUp */

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.form-sign-up {
  margin-top: 8%;
}

/* login */
.login-card {
  width: 40%;
  padding: 2.5rem;
  background-color: #f9ae3b;
  height: auto;
}
.login-card h1 {
  text-align: center;
}

.login-header {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #000;
}

.login-form-label {
  font-weight: bold;
  color: #000;
}

.login-input {
  margin-bottom: 15px;
}

.login-input input {
  background-color: white;
}

.signup-card {
  width: 40%;
  padding: 2.5rem;
  background-color: #f9ae3b;
  height: auto;
  margin-bottom: 5%;
  text-align: center;
}

.signup-header {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 0;
  color: #000;
}

.signup-form-label {
  font-weight: bold;
  color: #000;
}

.signup-input {
  margin-bottom: 15px;
}

.signup-input input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.signup-submit-btn {
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: auto;
  margin-top: 10px;
  display: block;
}

.sesion-submit-btn {
  background-color: #000;
  cursor: pointer;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: auto;
  margin-top: 10px;
  display: block;
}
.sesion-submit-btn:hover {
  background-color: #6e3885;
}

.login-submit-btn {
  background-color: #000;
  cursor: pointer;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: auto;
  margin-top: 10px;
  display: block;
}
.login-submit-btn:hover {
  background-color: #6e3885;
}

.signup-submit-btn:hover {
  background-color: #6e3885;
}

/* PERFIL */

.container-profileView {
  display: flex;
}

.btns-perfil {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 1rem;
}

.btn-editarPerfil {
  background-color: #a155c1;
}

.btn-editarPerfil:hover {
  background-color: #6e3885;
}

.btn-cerrar-sesion {
  background-color: rgb(0, 0, 0);
}
.btn-cerrar-sesion:hover {
  background-color: rgb(85, 85, 85);
}

.boxDatos-miPerfil {
  background-color: #ddd;
  text-decoration: none;
}
.boxDatos-miPerfil li ul {
  list-style: none;
}
.boxDatos-miPerfil ul {
  padding: 0;
  list-style: none;
  font-weight: bold;
}
.boxDatos-miPerfil img {
  width: 55%;
  border: solid 1px #000;
  border-radius: 50%;
  margin-bottom: 5%;
}

.nav-tabs .nav-link {
  background-color: blueviolet;
  color: white;
  border: solid 2px #ffffff;
}

/* CREATE POST */
.create-post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.form-crear-publicacion {
  margin-top: 8%;
}

.input-descripcion {
  border: 1px solid black;
  border-radius: 5px;
}

.create-post-card {
  width: 90%;
  padding: 2rem;
  height: auto;
  background-color: #f9ae3b;
}

.create-post-header {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 0;
  color: #000;
}

.create-post-form-label {
  font-weight: bold;
  color: #000;
}

.create-post-input {
  margin-bottom: 15px;
}

.create-post-input input {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}
.create-post-input .Descripcion {
  padding: 30px;
}

.create-post-submit-btn {
  cursor: pointer;
  background-color: black;
  color: white;
  width: 200px;
  padding: 30px;
  border: none;
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
  display: block;
}

.create-post-submit-btn:hover {
  background-color: #6e3885;
}

/*          MEDIA QUERIES        */

/* MEDIA QUERIES PARA MOBILE */
@media only screen and (max-width: 576px) {
  /* MEDIA HERO */
  .caption-hero {
    width: 90%;
    font-size: 14px;
    text-align: center;
    top: 40%;
  }

  .link {
    display: inline;
    text-align: right;
  }

  .detail-card-dani {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  /* MEDIA HOME */
  .adoption-text {
    margin-left: 20px;
    margin-right: 20px;
  }

  /* MEDIA GALLERY */
  .grid-container {
    grid-template-columns: 1fr;
  }

  .footer-form {
    width: 80%;
    margin-bottom: 20px;
  }

  .form-map {
    flex-direction: column;
    align-items: center;
  }

  .form-map iframe {
    width: 100%;
    height: 200px;
  }

  .social-footer {
    width: 100%;
    margin-bottom: 20px;
  }

  .rrss-legal {
    width: 90%;
    margin-bottom: 20px;
  }

  /* MEDIA FAVORITES */

  .grid-container-favorites {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px;
  }

  /* MEDIA ABOUT US */
  .section-title,
  .mission,
  .commitment,
  .what-we-do,
  .our-history,
  .final-message,
  .karen {
    margin-left: 10px;
    margin-right: 10px;
  }

  .about-us-image {
    width: 100%;
    height: auto;
  }

  /* MEDIA CONTAINER STYLE */
  .container-style {
    width: 90%;
    padding: 1.5rem;
  }

  /* MEDIA FORMULARIO DE ADOPCION */
  .container-style {
    width: 90%;
    padding: 1.5rem;
  }

  .container-style h1 {
    margin-bottom: 4%;
  }
  /* MEDIA SIGNUP */
  .signup-card {
    width: 90%;
  }

  /* MEDIA LOGIN */
  .login-card {
    width: 90%;
    padding: 1.5rem;
  }

  /* MEDIA PROFILE */

  .container-profileView {
    flex-direction: column;
  }

  .btns-perfil {
    width: 100%;
  }
}

/* MEDIA PROFILE - NAV-TABS */
.nav-tabs .nav-link {
  font-size: 14px;
}

/* MEDIA GLIDE */
.glide__slide {
  width: 100%;
  margin-right: 0;
  flex: none;
}

/* MEDIA QUERIES PARA TABLET */
@media only screen and (min-width: 577px) and (max-width: 1024px) {
  /* MEDIA NAVBAR */
  .custom-navbar {
    padding: 1rem;
  }

  .logo-karen {
    width: 10rem;
  }

  .cat-links a {
    margin-right: 10px;
  }

  /* MEDIA HERO */
  .caption-hero {
    width: 70%;
    font-size: 16px;
  }

  /* MEDIA HOME */
  .adoption-text {
    margin-left: 100px;
    margin-right: 100px;
  }

  /* MEDIA GALLERY */
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* MEDIA FOOTER */

  /* MEDIA FOOTER */
  .footer-form {
    width: 70%;
  }

  .form-map {
    flex-direction: column;
    align-items: center;
  }

  .form-map iframe {
    width: 100%;
    height: 250px;
  }

  .social-footer,
  .rrss-legal {
    width: 70%;
    margin-bottom: 20px;
  }
}

/* MEDIA ABOUT US */
.section-title,
.mission,
.commitment,
.what-we-do,
.our-history,
.final-message,
.karen {
  margin-left: 100px;
  margin-right: 100px;
}

/* MEDIA ABOUT US - IMAGE */
.about-us-image {
  border-radius: 15px;
  margin: 25px auto;
  max-width: 500px;
  height: auto;
}

/* MEDIA CONTAINER STYLE */
.container-style {
  width: 70%;
}

/* MEDIA FORMULARIO DE ADOPCION */
.container-style h1 {
  margin-bottom: 4%;
}

/* MEDIA SIGNUP */
.signup-card {
  width: 70%;
}

/* MEDIA LOGIN */
.login-card {
  width: 70%;
  padding: 2rem;
}

/* MEDIA PROFILE */
.btns-perfil {
  width: 45%;
  width: auto;
}

/* MEDIA QUERIES PARA LAPTOP Y DESKTOP */
@media only screen and (min-width: 1025px) {
  /* MEDIA NAVBAR */
  .custom-navbar {
    padding: 1rem;
  }

  .logo-karen {
    width: 10rem;
  }

  .cat-links a {
    margin-right: 10px;
  }

  /* MEDIA HERO */
  .caption-hero {
    width: 50%;
    font-size: 18px;
  }

  /* MEDIA HOME */
  .adoption-text {
    margin-left: 150px;
    margin-right: 150px;
  }

  /* MEDIA GALLERY */
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }

  /* MEDIA FOOTER */
  .footer-form {
    width: 40%;
  }

  .social-footer {
    width: 30%;
  }

  .rrss-legal {
    width: 50%;
  }

  /* MEDIA ABOUT US */
  .section-title,
  .mission,
  .commitment,
  .what-we-do,
  .our-history,
  .final-message,
  .karen {
    margin-left: 150px;
    margin-right: 150px;
  }

  /* MEDIA ABOUT US - IMAGE */
  .about-us-image {
    border-radius: 15px;
    margin: 25px auto;
    max-width: 500px;
    height: auto;
  }

  /* MEDIA CONTAINER STYLE */
  .container-style {
    width: 40%;
  }

  /* MEDIA FORMULARIO DE ADOPCION */
  .container-style h1 {
    margin-bottom: 4%;
  }

  /* MEDIA SIGNUP */
  .signup-card {
    width: 50%;
  }

  /* MEDIA LOGIN */
  .login-card {
    width: 40%;
    padding: 2.5rem;
  }

  /* MEDIA PROFILE */
  .btns-perfil {
    width: 40%;
  }
}
